body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    min-height: 100%;
    margin: 0;
}

html {
    height: 100%;
}

.gshHeader {
    border-color: #eabadb;
    font-size: 15;
    margin-bottom: 10;
}

.Waterfall {
    width: 100%;
    height: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column;
}

#root {
    height: 100%;
    margin-bottom: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  flex: 0 1 auto;
}

.App-title {
  font-size: 1.5em;
}