.palettes {
    display: flex;
    flex-direction: column;
    min-width: 15%;
    height: 100%;
}

.palette-item {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    margin: auto;
    border: 1px solid black;
}

.diagram-waterfall {
    width: 80%;
    height: 100%;
    flex: 1 1 auto;
    margin: auto;
    border: 1px solid black;
}

canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

#palette-integrated {
    height: 70%;
}

#palette-custom {
    height: 30%;
}